@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmación de la contraseña olvidada";
}

<h1>@ViewData["Title"]</h1>
<p>
    Por favor, compruebe su correo electrónico para restablecer su contraseña
</p>

